# 1. 免学部分
* p161~p168
* 扣除免学部分只有7面

# 2. 前言

* 大家在做题目前一定要先把第9章的书读一下
* 写本作业，请使用 Anaconda 里的 Notebook
* 我做了一个[打包下载 Link](https://downgit.github.io/#/home?url=https://github.com/liuhui998/pe2/tree/master/09-apply), 大家下载下来解压后，使用 Notebook 打开

# 3. 学习概要
* 我会在每道题有前标明对的书页码
* 如果超纲我会提前提示，并加上资料 Link
---
重点知识：

* 要成为一个专业程序员，要对函数式编程有一定的概念和理解。函数式编程，包括函数式编程思维，当然是一个很复杂的话题，但对今天介绍的 apply() 函数，只需要理解：函数作为一个对象，能作为参数传递给其它参数，并且能作为函数的返回值

* 如果用函数式的编程方法呢，我们可以这样想：从一个 list 中取出特定规则的数字，能不能只关注和设置这个规则，循环这种事情就交给编程语言去处理

* apply 就一种函数式的编程的方式，帮你少写循环代码。

  重点是帮你少写循环代码，不是增加你记忆工作量  
  如果你现在是初学，不想记apply也可以，日常工作里先用循环，考试时记得翻一下书就好。

* lambda函数也叫匿名函数，即没有具体名称的函数，它允许快速定义单行函数，可以用在任何需要函数的地方，这区别于def定义的函数。
 
   我以一个 lambda 为例：
   
   lambda raw_price: float(raw_price.strip()[1:]) 

   lambda 后面的 raw_price 相当于函数的参数
   
   float(raw_price.strip()[1:]) 相当于平常函数的内容，然后这个值会自动返回(return)
   
---
知识点整理

* [pandas apply() 函数用法](https://www.jianshu.com/p/4fdd6eee1b06)
* [Python中的lambda和apply用法](https://zhuanlan.zhihu.com/p/42756654)

---
备注:

* 大家在GitHub 里看输出的表格，price 列显示有时可能会错位，这是GitHub 的bug, 如果列数里有美元符号，它就显示不正常；不影响大家日常使用; 后面我们也会想办法解决。
  
  因为代码运行在自己的电脑上不是运行在 Github 上，GitHub 只是一个展示教材的地方

# 4. 汇总各国销售数据
---
备注：这里综合了 p140~143,p148,p158,p169的内容，同时我们也会介绍很多书上没有使用的参数

* 了解如何用字符串切片去掉货币符号 p140~p142
* 了解如何去掉字段前后的空格 strip p143
* 本题中会学习 Python 新的格式化字符串 p148
* 如何调用 apply 函数 p158, 书上是对整个 DataFrame, 实际应用中可以针对某一列

```
  df['col_name'].apply(func_name)
```
* 如何使用用 lambda p169 (书上讲了正则表达式，不熟悉的同学可以跳过正则表达式部分)

如果大家有不熟悉的地方可以多看一下这两个 Link:

* [pandas apply() 函数用法](https://www.jianshu.com/p/4fdd6eee1b06)
* [Python中的lambda和apply用法](https://zhuanlan.zhihu.com/p/42756654)

---

背景:

* 你现在公司财务部，负责整理各个国家的报过来的销售数据
* 各国都是以本国货币单位来汇报(USD/GBP等）
* 有些销售汇报时，数据前后不小心加了空格要去掉
* 今天 Peter 要考你一下，你要用三种方式把销量信息把转成数字

---
* 读取 world_sales_data.csv 到 sales

  字段解释：

   sku: 商品编号
   
   price: 价格
   
   quantity: 数量
   
   currency: 货币类型
   
* 查看 sales 的数据类型

* 尝试打印  sales 中的每一个价格 price (前后加 "*")

* 定义一个空列表: new_prices

   遍历 sales 中的每一个价格 price, 去掉前后的空格(strip), 再取第2到最后一个字符，再转成浮点数，最后把它加到列表 new_prices 里

* 将 new_prices 放到 sales 的 new_price 列中(会自动创建这一列）

* 定义一个函数，名叫 price_convert, 接收一个名为 raw_price 的参数

  去掉 raw_price 前后的空格(strip), 再取第2到最后一个字符，再转成浮点数，
  
  最后返回转换的结果

* 尝试打印 sales 第2行，第2列的数据，用 (iloc)

* 用 price_convert 转换尝试打印 sales 第2行，第2列的数据，并打印输出

* 用 apply + price_convert 将 sales 的 price 列 转换成数字类型

  并将转换后的结果放到 sales 的 new_price1 列中
  
* 使用 apply + lambda 将将 sales 的 price 列 转换成数字类型
   
  并将转换后的结果放到 sales 的 new_price2 列中

In [4]:
import pandas as pd

In [53]:
"""
* 读取 world_sales_data.csv 到 sales

  字段解释：

   sku: 商品编号
   
   price: 价格
   
   quantity: 数量
   
   currency: 货币类型
"""
sales = pd.read_csv("world_sales_data.csv")
sales

     sku  price  quantity currency
0  A1234   $100       200      USD
1  A1235   $200       200      USD
2  A1236   $300       100      USD
3  A1234    £76       100      GBP
4  A1235   £160       100      GBP
5  A1236   £200        60      GBP

In [41]:
# 查看 sales 的数据类型
sales.dtypes

sku         object
price       object
quantity     int64
currency    object
dtype: object

In [42]:
#* 尝试打印  sales 中的每一个价格 price (前后加 "*")
# 发现有些价格前面有空格
# 同时大家看一下书 p148，这种新的字符串拼接的用法
for price in sales['price']:
    print(f"*{price}*")

*$100*
* $200*
*$300*
*£76*
* £160*
*£200*

In [43]:
#定义一个空列表: new_prices 
new_prices = []
# 遍历 sales 中的每一个价格 price, 去掉前后的空格(strip), 再取第2到最后一个字符，再再转成浮点数，最后把它加到列表 new_prices 里
for price in sales['price']:
    new_price = float(price.strip()[1:])
    print(f"*{new_price}*")
    new_prices.append(new_price)
new_prices

*100.0*
*200.0*
*300.0*
*76.0*
*160.0*
*200.0*

[100.0, 200.0, 300.0, 76.0, 160.0, 200.0]

In [44]:
# 将 new_prices 放到 sales 的 new_price 列中(会自动创建这一列）

sales['new_price'] = new_prices
sales

     sku  price  quantity currency  new_price
0  A1234   $100       200      USD      100.0
1  A1235   $200       200      USD      200.0
2  A1236   $300       100      USD      300.0
3  A1234    £76       100      GBP       76.0
4  A1235   £160       100      GBP      160.0
5  A1236   £200        60      GBP      200.0

In [27]:
# 定义一个函数，名叫 price_convert, 接收一个名为 raw_price 的参数
# 去掉 raw_price 前后的空格(strip), 再取第2到最后一个字符，再转成浮点数，
# 最后返回转换的结果
def price_convert(raw_price):
    return float(raw_price.strip()[1:])

In [23]:
# 尝试打印 sales 第2行，第2列的数据，用 (iloc)
print(f"price: *{sales.iloc[1,1]}*")

price: * $200*
new_price: *200.0*

In [ ]:
# 用 price_convert 转换尝试打印 sales 第2行，第2列的数据
# 并打印输出
print(f"new_price: *{price_convert(sales.iloc[1,1])}*")

In [24]:
# 示例，如何使用 apply + price_convert 函数进行货币转换（非题目）
sales['price'].apply(price_convert)

0    100.0
1    200.0
2    300.0
3     76.0
4    160.0
5    200.0
Name: price, dtype: float64

In [25]:
# 用 apply + price_convert 将 sales 的 price 列 转换成数字类型
# 并将转换后的结果放到 sales 的 new_price1 列中
sales['new_price1'] = sales['price'].apply(price_convert)
sales

     sku  price  quantity currency  new_price  new_price1
0  A1234   $100       200      USD      100.0       100.0
1  A1235   $200       200      USD      200.0       200.0
2  A1236   $300       100      USD      300.0       300.0
3  A1234    £76       100      GBP       76.0        76.0
4  A1235   £160       100      GBP      160.0       160.0
5  A1236   £200        60      GBP      200.0       200.0

In [26]:
# 使用 apply + lambda 将将 sales 的 price 列 转换成数字类型
# 并将转换后的结果放到 sales 的 new_price2 列中
sales['new_price2'] = sales['price'].apply(
    lambda raw_price: float(raw_price.strip()[1:]) 
)
sales

     sku  price  quantity currency  new_price  new_price1  new_price2
0  A1234   $100       200      USD      100.0       100.0       100.0
1  A1235   $200       200      USD      200.0       200.0       200.0
2  A1236   $300       100      USD      300.0       300.0       300.0
3  A1234    £76       100      GBP       76.0        76.0        76.0
4  A1235   £160       100      GBP      160.0       160.0       160.0
5  A1236   £200        60      GBP      200.0       200.0       200.0

# 5. 参考资料
* [pandas apply() 函数用法](https://www.jianshu.com/p/4fdd6eee1b06)
* [Python中的lambda和apply用法](https://zhuanlan.zhihu.com/p/42756654)