# 1. 免学部分
* p161~p168
* 扣除免学部分只有7面

# 2. 前言

* 大家在做题目前一定要先把第9章的书读一下
* 写本作业，请使用 Anaconda 里的 Notebook
* 我做了一个[打包下载 Link](https://downgit.github.io/#/home?url=https://github.com/liuhui998/pe2/tree/master/09-apply), 大家下载下来解压后，使用 Notebook 打开

# 3. 学习概要
* 我会在每道题有前标明对的书页码
* 如果超纲我会提前提示，并加上资料 Link
---
重点知识：

---
知识点整理

In [4]:
import pandas as pd

In [8]:
"""
* 读取 world_sales_data.csv 到 sales

  字段解释：

   sku: 商品编号
   
   price: 价格
   
   quantity: 数量
   
   currency: 货币类型
"""
sales = pd.read_csv("world_sales_data.csv")
sales

     sku  price  quantity currency
0  A1234   $100       200      USD
1  A1235   $200       200      USD
2  A1236   $300       100      USD
3  A1234    £76       100      GBP
4  A1235   £160       100      GBP
5  A1236   £200        60      GBP

In [9]:
# 查看 sales 的数据类型
sales.dtypes

sku         object
price       object
quantity     int64
currency    object
dtype: object

In [10]:
#* 尝试打印  sales 中的每一个价格 price (前后加 "*")
# 发现有些价格前面有空格
# 同时大家看一下书 p148，这种新的字符串拼接的用法
for price in sales['price']:
    print(f"*{price}*")

*$100*
* $200*
*$300*
*£76*
* £160*
*£200*

In [11]:
#定义一个空列表: new_prices 
new_prices = []
# 遍历 sales 中的每一个价格 price, 去掉前后的空格(strip), 再取第2到最后一个字符，再再转成浮点数，最后把它加到列表 new_prices 里
for price in sales['price']:
    new_price = float(price.strip()[1:])
    print(f"*{new_price}*")
    new_prices.append(new_price)
new_prices

*100.0*
*200.0*
*300.0*
*76.0*
*160.0*
*200.0*

[100.0, 200.0, 300.0, 76.0, 160.0, 200.0]

In [12]:
# 将 new_prices 放到 sales 的 new_price 列中(会自动创建这一列）
sales['new_price'] = new_prices
sales

     sku  price  quantity currency  new_price
0  A1234   $100       200      USD      100.0
1  A1235   $200       200      USD      200.0
2  A1236   $300       100      USD      300.0
3  A1234    £76       100      GBP       76.0
4  A1235   £160       100      GBP      160.0
5  A1236   £200        60      GBP      200.0

In [22]:
def price_convert(raw_price):
    return float(raw_price.strip()[1:])

In [23]:
print(f"price: *{sales.iloc[1,1]}*")
print(f"new_price: *{price_convert(sales.iloc[1,1])}*")

price: * $200*
new_price: *200.0*

In [24]:
sales['price'].apply(price_convert)

0    100.0
1    200.0
2    300.0
3     76.0
4    160.0
5    200.0
Name: price, dtype: float64

In [25]:
sales['new_price1'] = sales['price'].apply(price_convert)
sales

     sku  price  quantity currency  new_price  new_price1
0  A1234   $100       200      USD      100.0       100.0
1  A1235   $200       200      USD      200.0       200.0
2  A1236   $300       100      USD      300.0       300.0
3  A1234    £76       100      GBP       76.0        76.0
4  A1235   £160       100      GBP      160.0       160.0
5  A1236   £200        60      GBP      200.0       200.0

In [26]:
sales['new_price2'] = sales['price'].apply(
    lambda raw_price: float(raw_price.strip()[1:]) 
)
sales

     sku  price  quantity currency  new_price  new_price1  new_price2
0  A1234   $100       200      USD      100.0       100.0       100.0
1  A1235   $200       200      USD      200.0       200.0       200.0
2  A1236   $300       100      USD      300.0       300.0       300.0
3  A1234    £76       100      GBP       76.0        76.0        76.0
4  A1235   £160       100      GBP      160.0       160.0       160.0
5  A1236   £200        60      GBP      200.0       200.0       200.0