# 1. 免学部分
* p137~p138
* 扣除免学部分只有7面

# 2. 前言

* 大家在做题目前一定要先把第7章的书读一下
* 写本作业，请使用 Anaconda 里的 Notebook
* 我做了一个[打包下载 Link](https://downgit.github.io/#/home?url=https://github.com/liuhui998/pe2/tree/master/07-data-type), 大家下载下来解压后，使用 Notebook 打开

# 3. 学习概要
* 我会在每道题有前标明对的书页码
* 如果超纲我会提前提示，并加上资料 Link
---
重点知识：

---
知识点整理

In [3]:
import pandas as pd

# 4. 汇总各国销售数据

In [13]:
sales = pd.read_csv("world_sales_data.csv")
sales

     sku  price  quantity currency
0  A1234   $100       200      USD
1  A1235   $200       200      USD
2  A1236   $300       100      USD
3  A1234    £76       100      GBP
4  A1235   £160       100      GBP
5  A1236   £200        60      GBP

In [14]:
sales.dtypes

sku         object
price       object
quantity     int64
currency    object
dtype: object

In [15]:
# 发现有些价格前面有空格
for price in sales['price']:
    print("*%s*" % price)

*$100*
* $200*
*$300*
*£76*
* £160*
*£200*

In [28]:

new_prices = []
for price in sales['price']:
    new_price = float(price.strip()[1:])
    #print(f"*{new_price}*")
    new_prices.append(new_price)
    #print("*%f*" % new_price)
sales['new_price'] = new_prices
sales

     sku  price  quantity currency  new_price
0  A1234   $100       200      USD      100.0
1  A1235   $200       200      USD      200.0
2  A1236   $300       100      USD      300.0
3  A1234    £76       100      GBP       76.0
4  A1235   £160       100      GBP      160.0
5  A1236   £200        60      GBP      200.0

In [29]:
currency = pd.read_csv("currency.csv")
currency

   src dest    rate
0  USD  RMB  6.9752
1  GBP  RMB  9.1348

In [30]:
sales_stats = sales.merge(currency,left_on="currency",right_on="src")
sales_stats

     sku  price  quantity currency  new_price  src dest    rate
0  A1234   $100       200      USD      100.0  USD  RMB  6.9752
1  A1235   $200       200      USD      200.0  USD  RMB  6.9752
2  A1236   $300       100      USD      300.0  USD  RMB  6.9752
3  A1234    £76       100      GBP       76.0  GBP  RMB  9.1348
4  A1235   £160       100      GBP      160.0  GBP  RMB  9.1348
5  A1236   £200        60      GBP      200.0  GBP  RMB  9.1348

In [31]:
sales_stats.columns

Index(['sku', 'price', 'quantity', 'currency', 'new_price', 'src', 'dest',
       'rate'],
      dtype='object')

In [32]:
sales_stats_new = sales_stats[['sku', 'price', 'quantity', 'currency', 'new_price', 'rate']].copy()
sales_stats_new

     sku  price  quantity currency  new_price    rate
0  A1234   $100       200      USD      100.0  6.9752
1  A1235   $200       200      USD      200.0  6.9752
2  A1236   $300       100      USD      300.0  6.9752
3  A1234    £76       100      GBP       76.0  9.1348
4  A1235   £160       100      GBP      160.0  9.1348
5  A1236   £200        60      GBP      200.0  9.1348

In [33]:
sales_stats_new["RMB"] = sales_stats_new["new_price"] * sales_stats_new["rate"]
sales_stats_new

     sku  price  quantity currency  new_price    rate        RMB
0  A1234   $100       200      USD      100.0  6.9752   697.5200
1  A1235   $200       200      USD      200.0  6.9752  1395.0400
2  A1236   $300       100      USD      300.0  6.9752  2092.5600
3  A1234    £76       100      GBP       76.0  9.1348   694.2448
4  A1235   £160       100      GBP      160.0  9.1348  1461.5680
5  A1236   £200        60      GBP      200.0  9.1348  1826.9600

In [34]:
sales_stats_new["RMB"].sum()

8167.8928000000005