# 1. 免学部分
* p149~p154
* 扣除免学部分只有10面

# 2. 前言

* 大家在做题目前一定要先把第8章的书读一下
* 写本作业，请使用 Anaconda 里的 Notebook
* 我做了一个[打包下载 Link](https://downgit.github.io/#/home?url=https://github.com/liuhui998/pe2/tree/master/08-string), 大家下载下来解压后，使用 Notebook 打开

# 3. 学习概要
* 我会在每道题有前标明对的书页码
* 如果超纲我会提前提示，并加上资料 Link
---
重点知识&知识点整理：

* 对字符串进行各种切片操作 
* 各种字符串方法 (p143 )
* 使用新的格式化字符串 (p148)
* 正则表达式（选学，不考）

---
* [Python3 字符串全指南](https://www.runoob.com/python3/python3-string.html)
* [Python3 正则表达式](https://www.runoob.com/python3/python3-reg-expressions.html)

In [15]:
import pandas as pd

# 4. 汇总各国销售数据
---
备注：这里综合了 p94,p140~143,p148面的内容，同时我们也会介绍很多书上没有使用的参数

* 要本题中会学习 Python 新的格式化字符串 p148
* 会了解如何去掉字段前后的空格 strip p143
* 也会了解如何用字符串切片去掉货币符号 p140~p142
* 最后我们也会再次使用之前学过 merge 函数 p94
  
---

背景:

* 你现在公司财务，负责整理各个国家的报过来的销售数据
* 各国都是以本国货币单位来汇报(USD/GBP等）
* 老板让你把本期的各国的销售数据用本币(RMB)汇总情况
* 有些销售汇报时，数据前后不小心加了空格要去掉
* 在你的电脑里有一个 currency.csv 文件，里面有汇率

---
* 读取 world_sales_data.csv 到 sales

  字段解释：

   sku: 商品编号
   
   price: 价格
   
   quantity: 数量
   
   currency: 货币类型
   
* 查看 sales 的数据类型

* 尝试打印  sales 中的每一个价格 price (前后加 "*")

* 定义一个空列表: new_prices

   遍历 sales 中的每一个价格 price, 去掉前后的空格(strip), 再取第2到最后一个字符，再转成浮点数，最后把它加到列表 new_prices 里

* 将 new_prices 放到 sales 的 new_price 列中(会自动创建这一列）

* 将 currency.csv 读取到 currency

  字段解释：
  
  src: 原始货币类型
  
  dest: 目的货币类型
  
  rate: 1单位原始货币 兑换 1单位目的货币的比率 (汇率)
  
  
* 用 sales 来 merge currency 生成 sales_stats
  
  大家要用 sales表里的 currency 字段来联接 currency 表里的 src 字段
  
* 选取 sales_stats 里的 ['sku', 'price', 'quantity', 'currency', 'new_price', 'rate'] 字段，生成 sales_stats_new

* 在 sales_stats_new 中生成一个新列 RMB, 计算公式为 new_price * quantity

* 最后对 sales_stats_new 的 RMB 进行求和
---
相关资料：

* [一文看懂 Pandas 透视表](https://zhuanlan.zhihu.com/p/31952948)
* [Python: Pandas中stack和unstack的形象理解](https://blog.csdn.net/anshuai_aw1/article/details/82830916) #补充资料，选 学

---
备注:

* 大家在GitHub 里看输出的表格，price 列显示有时可能会错位，这是GitHub 的bug, 如果列数里有美元符号，它就显示不正常；不影响大家日常使用; 后面我们也会想办法解决。
  
  因为代码运行在自己的电脑上不是运行在 Github 上，GitHub 只是一个展示教材的地方

In [16]:
"""
* 读取 world_sales_data.csv 到 sales

  字段解释：

   sku: 商品编号
   
   price: 价格
   
   quantity: 数量
   
   currency: 货币类型
"""

     sku  price  quantity currency
0  A1234   $100       200      USD
1  A1235   $200       200      USD
2  A1236   $300       100      USD
3  A1234    £76       100      GBP
4  A1235   £160       100      GBP
5  A1236   £200        60      GBP

In [17]:
# 查看 sales 的数据类型

sku         object
price       object
quantity     int64
currency    object
dtype: object

In [18]:
#* 尝试打印  sales 中的每一个价格 price (前后加 "*")
# 发现有些价格前面有空格
# 同时大家看一下书 p148，这种新的字符串拼接的用法

*$100*
* $200*
*$300*
*£76*
* £160*
*£200*

In [ ]:
#思考建议（非题目）
# 大家可以考虑一下，如果有 price 为空，price.strip() 会怎么样？
# 这时程序就会报错，这时可以考虑先提前把 price 为空的数据先删掉

In [19]:
#定义一个空列表: new_prices 

# 遍历 sales 中的每一个价格 price, 去掉前后的空格(strip), 再取第2到最后一个字符，再再转成浮点数，最后把它加到列表 new_prices 里

*100.0*
*200.0*
*300.0*
*76.0*
*160.0*
*200.0*

[100.0, 200.0, 300.0, 76.0, 160.0, 200.0]

In [20]:
# 将 new_prices 放到 sales 的 new_price 列中(会自动创建这一列）

     sku  price  quantity currency  new_price
0  A1234   $100       200      USD      100.0
1  A1235   $200       200      USD      200.0
2  A1236   $300       100      USD      300.0
3  A1234    £76       100      GBP       76.0
4  A1235   £160       100      GBP      160.0
5  A1236   £200        60      GBP      200.0

In [23]:
"""
* 将 currency.csv 读取到 currency

  字段解释：
  
  src: 原始货币类型
  
  dest: 目的货币类型
  
  rate: 1原始货币单位 兑换 1目的货币单位的比率(汇率)
"""

   src dest    rate
0  USD  RMB  6.9752
1  GBP  RMB  9.1348

In [24]:
"""
用 sales 来 merge currency 生成 sales_stats
  
  大家要用 sales表里的 currency 字段来联接 currency 表里的 src 字段
"""

     sku  price  quantity currency  new_price  src dest    rate
0  A1234   $100       200      USD      100.0  USD  RMB  6.9752
1  A1235   $200       200      USD      200.0  USD  RMB  6.9752
2  A1236   $300       100      USD      300.0  USD  RMB  6.9752
3  A1234    £76       100      GBP       76.0  GBP  RMB  9.1348
4  A1235   £160       100      GBP      160.0  GBP  RMB  9.1348
5  A1236   £200        60      GBP      200.0  GBP  RMB  9.1348

In [25]:
# 查看字段，（非题目）
# 方便大家复制字段
sales_stats.columns

Index(['sku', 'price', 'quantity', 'currency', 'new_price', 'src', 'dest',
       'rate'],
      dtype='object')

In [29]:
#选取 sales_stats 里的 ['sku', 'price', 'quantity', 'currency', 'new_price', 'rate'] 字段 并创建副本(copy)，生成 sales_stats_new

     sku  price  quantity currency  new_price    rate
0  A1234   $100       200      USD      100.0  6.9752
1  A1235   $200       200      USD      200.0  6.9752
2  A1236   $300       100      USD      300.0  6.9752
3  A1234    £76       100      GBP       76.0  9.1348
4  A1235   £160       100      GBP      160.0  9.1348
5  A1236   £200        60      GBP      200.0  9.1348

In [30]:
# 在 sales_stats_new 中生成一个新列 RMB, 计算公式为 new_price * rate

     sku  price  quantity currency  new_price    rate        RMB
0  A1234   $100       200      USD      100.0  6.9752   697.5200
1  A1235   $200       200      USD      200.0  6.9752  1395.0400
2  A1236   $300       100      USD      300.0  6.9752  2092.5600
3  A1234    £76       100      GBP       76.0  9.1348   694.2448
4  A1235   £160       100      GBP      160.0  9.1348  1461.5680
5  A1236   £200        60      GBP      200.0  9.1348  1826.9600

In [31]:
#* 最后对 sales_stats_new 的 RMB 进行求和&取2位小数 (sum, round)
sales_stats_new["RMB"].sum().round(2)

8167.89

# 5. 为什么在 df 中有时要用 copy

昨天有同学搞不懂为什么对DataFrame过滤后的数据要用 copy 函数

这里有一篇文章进行了解释

[用.copy获取df数据的数据副本](https://blog.csdn.net/weixin_41855010/article/details/104270536)

# 6. 参考资料
* [Python3 字符串全指南](https://www.runoob.com/python3/python3-string.html)
* [Python3 正则表达式](https://www.runoob.com/python3/python3-reg-expressions.html)
[用.copy获取df数据的数据副本](https://blog.csdn.net/weixin_41855010/article/details/104270536)