# 1. 免学部分
* p137~p138
* 扣除免学部分只有7面

# 2. 前言

* 大家在做题目前一定要先把第7章的书读一下
* 写本作业，请使用 Anaconda 里的 Notebook
* 我做了一个[打包下载 Link](https://downgit.github.io/#/home?url=https://github.com/liuhui998/pe2/tree/master/07-data-type), 大家下载下来解压后，使用 Notebook 打开

# 3. 学习概要
* 我会在每道题有前标明对的书页码
* 如果超纲我会提前提示，并加上资料 Link
---
重点知识：

---
知识点整理

In [25]:
import pandas as pd

# 4. 处何为北美的大客户生成唯一标号

In [37]:
stats = pd.read_excel("whole_seller_stats.xlsx", na_values = [''], keep_default_na = False)
stats

  region country seller_name
0     NA      US         Bob
1     NA      US         Tom
2     NA     404        John
3     NA      CA       Hanks
4     NA      US         NaN

In [38]:
stats_new = stats[stats.seller_name.notnull()].copy()
stats_new

  region country seller_name
0     NA      US         Bob
1     NA      US         Tom
2     NA     404        John
3     NA      CA       Hanks

In [39]:
stats_new.dtypes

region         object
country        object
seller_name    object
dtype: object

In [40]:
print(stats_new.iloc[3,1])
type(stats_new.iloc[3,1])

CA

str

In [41]:
stats_new["unique_id"] = stats_new['region'] + "_" + stats_new['country'] + "_" + stats['seller_name']
stats_new

TypeError: can only concatenate str (not "int") to str

In [43]:
stats_new["unique_id"] = stats_new['region'] + "_" + stats_new['country'].astype(str) + "_" + stats['seller_name']
stats_new

  region country seller_name    unique_id
0     NA      US         Bob    NA_US_Bob
1     NA      US         Tom    NA_US_Tom
2     NA     404        John  NA_404_John
3     NA      CA       Hanks  NA_CA_Hanks

In [44]:
stats_new["unique_id"] = stats_new['region'] + "_" + stats_new['country'] + "_" + stats['seller_name']
stats_new

TypeError: can only concatenate str (not "int") to str

In [8]:
stats1 = pd.read_excel("whole_saler_stats.xlsx")
stats1

   region country whole_saler_name
0     NaN      US              Bob
1     NaN      US              Tom
2     NaN     404             John
3     NaN      CA            Hanks

# 怎么处理客户错填的销量信息