# 手工创建工数据 Series
---
备注：这里综合了 24~27面的的内容

* 创建一个 Series 对象 s
* 数据为 "China","Hunan","Peter"
* 索引为 "Country","Province","Name"
* 用两种方法输出 s 里的数据（提示第二种方法可以用 for 循环）
* 用两种方法输出 s 里的索引（提示第二种方法可以用 for 循环）

In [2]:
import pandas as pd
import numpy as np

In [3]:
#创建一个 Series 对象 s
#* 数据为 "China","Hunan","Peter"
#* 索引为 "Country","Province","Name"
s = pd.Series(
    ["China","Hunan","Peter"],
    index = ["Country","Province","Name"]
)
s

Country     China
Province    Hunan
Name        Peter
dtype: object

In [6]:
#用两种方法输出 s 里的数据（提示第二种方法可以用 for 循环）
print(s.values)

for value in s.values:
    print(value)

['China' 'Hunan' 'Peter']
China
Hunan
Peter

In [7]:
#用两种方法输出 s 里的索引（提示第二种方法可以用 for 循环）
print(s.index)

for i in s.index:
    print(i)

Index(['Country', 'Province', 'Name'], dtype='object')
Country
Province
Name

# 手工创建工数据 DataFrame
---
备注：这里综合了 25~27面的的内容

* 手工创建一个 DataFrame 对象 df
* 索引是 ["bu1","bu2","bu3","bu4"]
* 第1列 列名是"sales"(销售额）,  数据为 [200,100,300,70]
* 列2列 列名是"profit"(利润）, 数据为 [34,20,50,14]
* 用 loc 属性从 df中找 "bu1" 这一行，存到名为 bu1 的变量中
* 计算 bu1 的利润率 profit_ratio = (profit/sales),并且输出

  提示：bu1 是Series 对象，可以直接 bu1['index_name'] 来访问数据
  
  例如: bu1['sales'], bu1['profit']

In [12]:
#手工创建一个 DataFrame 对象 df
#索引是 ["bu1","bu2","bu3","bu4"]
#第1列 列名是"sales"(销售额）, 数据为 [200,100,300,70]
#列2列 列名是"profit"(利润）, 数据为 [34,20,50,14]
df = pd.DataFrame(
    data = {
        "sales": [200,100,300,70],
        "profit": [34,20,50,14]
    },
    index = ["bu1","bu2","bu3","bu4"] 
    #由于data里的key命名刚才完全规范，所以我这里不用指定 columns
)
df

     sales  profit
bu1    200      34
bu2    100      20
bu3    300      50
bu4     70      14

In [14]:
# 用 loc 属性从 df中找 "bu1" 这一行，存到名为 bu1 的变量中
bu1 = df.loc['bu1']
bu1

sales     200
profit     34
Name: bu1, dtype: int64

In [16]:
#计算 bu1 的利润率 profit_ratio = (profit/sales),并且输出
sales_profit = bu1['profit']/bu1['sales']
print("bu1 利润率为: ", sales_profit)

bu1 利润率为:  0.17

# 数据过滤(Series)
---
备注：这里综合了 30面的的内容

* 把 df 的 sales 列取出，放到变量 sales 中
* 计算 sales 的平均值, 放到变量 mean_sales 中
* 找出所有 sales 中所有大于 mean_sales 的数值

In [18]:
#把 df 的 sales 列取出，放到变量 sales 中
sales = df['sales']
sales

bu1    200
bu2    100
bu3    300
bu4     70
Name: sales, dtype: int64

In [19]:
#计算 sales 的平均值, 放到变量 mean_sales 中
mean_sales = sales.mean()
mean_sales

167.5

In [20]:
#找出所有 sales 中所有大于 mean_sales 的数值
sales[sales > mean_sales]

bu1    200
bu3    300
Name: sales, dtype: int64

# 增加新列
---
备注：这里综合了 31，36两面的的内容
* 计算 df 中的利润率(profit_ratio = profit/sales), 存到 profit_ratio 中
* 为 df 新加一列 "profit_ratio", 把 profit_ratio 放到里

In [21]:
# 计算 df 中的利润率(profit_ratio = profit/sales), 存到 profit_ratio 中
profit_ratio = df['profit']/df['sales']
profit_ratio

bu1    0.170000
bu2    0.200000
bu3    0.166667
bu4    0.200000
dtype: float64

In [22]:
#为 df 新加一列 "profit_ratio", 把 profit_ratio 放到里
df['profit_ratio'] = profit_ratio
df

     sales  profit  profit_ratio
bu1    200      34      0.170000
bu2    100      20      0.200000
bu3    300      50      0.166667
bu4     70      14      0.200000

# 数据排序(DataFrame)
---
备注：这里综合了 33,43面的内容，有部分超纲，有不明白的这题可以直接抄答案

我们发的 Pandas Cheat Sheet 有讲这一部分

这里还有详细的外部参考资料：[pandas 数据排序.sort_index()和.sort_values()](https://www.jianshu.com/p/f0ed06cd5003)

* 对 df 按 bu 名进行排序 （因为bu名放在索引里，可以使用 sort_index 方法)
* 对 df 按 bu 名进行降序排序 (在用 sort_index里，可以加 ascending=False参数）
* 对 df 按销售额(sales)进行排序 ( 可以使用 sort_values，提示增加 by 参数，指定列名即可)，
```
  df.sort_values(by='sales') #示例代码
```
  将结果写到 sort_sales.xlsx 文件
  
  
* 对 df 按利润(profit)进行排序 ( 可以使用 sort_values)，将结果写到 sort_profit.xlsx 文件

* 对 df 按利润率(profit_ratio)进行排序 ( 可以使用 sort_values)，将结果写到 sort_profit_ratio.xlsx 文件

In [23]:
#对 df 按 bu 名进行排序 （因为bu名放在索引里，可以使用 sort_index 方法)
df.sort_index()

     sales  profit  profit_ratio
bu1    200      34      0.170000
bu2    100      20      0.200000
bu3    300      50      0.166667
bu4     70      14      0.200000

In [24]:
#对 df 按 bu 名进行降序排序 (在用 sort_index里，可以加 ascending=False参数）
df.sort_index(ascending = False)

     sales  profit  profit_ratio
bu4     70      14      0.200000
bu3    300      50      0.166667
bu2    100      20      0.200000
bu1    200      34      0.170000

In [26]:
#对 df 按销售额(sales)进行排序 ( 可以使用 sort_values)， 将结果写到 sort_sales.xlsx 文件
sort_sales = df.sort_values(by='sales')
sort_sales.to_excel("sort_sales.xlsx")
sort_sales

     sales  profit  profit_ratio
bu4     70      14      0.200000
bu2    100      20      0.200000
bu1    200      34      0.170000
bu3    300      50      0.166667

In [27]:
# 对 df 按利润(profit)进行排序 ( 可以使用 sort_values)，将结果写到 sort_profit.xlsx 文件
sort_profit = df.sort_values(by='profit')
sort_profit.to_excel("sort_profit.xlsx")
sort_profit

     sales  profit  profit_ratio
bu4     70      14      0.200000
bu2    100      20      0.200000
bu1    200      34      0.170000
bu3    300      50      0.166667

In [28]:
#对 df 按利润率(profit_ratio)进行排序 ( 可以使用 sort_values)，将结果写到 sort_profit_ratio.xlsx 文件
sort_profit_ratio = df.sort_values(by='profit_ratio')
sort_profit_ratio.to_excel("sort_profit_ratio.xlsx")
sort_profit_ratio

     sales  profit  profit_ratio
bu3    300      50      0.166667
bu1    200      34      0.170000
bu2    100      20      0.200000
bu4     70      14      0.200000

# 数据删除
---
备注：这里综合了 40，43面的的内容

* 删除 df 里的 "profit","profit_ratio" 两列, 存到 public_sales 中
* 把 public_sales 保存为 public_sales.xlsx 文件

In [32]:
#删除 df 里的 "profit","profit_ratio" 两列, 存到 public_sales 中
public_sales = df.drop(['profit','profit_ratio'],axis = 1)

In [33]:
# 把 public_sales 保存为 public_sales.xlsx 文件
public_sales.to_excel("public_sales.xlsx")

# 数据过滤(DataFrame)
---
备注：这里综合了 34，43面的的内容

同时有还会有如何在一个Excel文件写入多个Sheet的超纲内容，这一部分不会可以抄答案，我是想尽可能的模拟大家工作中场景！

参考 Link: [DataFrame.to_excel多次写入不同Sheet](https://blog.csdn.net/wangxingfan316/article/details/79628463)

* 把 df 的 sales 列取出，放到变量 sales 中
* 计算 sales 的平均值, 放到变量 mean_sales 中
* 找出 df 所有 sales 值大于 mean_sales的数据，放到 high_sales 中
* 找出 df 所有 sales 值小于 mean_sales的数据，放到 high_sales 中
* 把 high_sales,low_sales 分别写到 new_sales.xlsx 的 high_sales,low_sales 两个sheet 中

In [34]:
# 把 df 的 sales 列取出，放到变量 sales 中
# 计算 sales 的平均值, 放到变量 mean_sales 中
sales = df['sales']
mean_sales = sales.mean()
mean_sales

167.5

In [35]:
#找出 df 所有 sales 值大于 mean_sales的数据，放到 high_sales 中
high_sales = df[df['sales'] > mean_sales]
high_sales

     sales  profit  profit_ratio
bu1    200      34      0.170000
bu3    300      50      0.166667

In [36]:
#找出 df 所有 sales 值小于 mean_sales的数据，放到 high_sales 中
low_sales = df[df['sales'] < mean_sales]
low_sales

     sales  profit  profit_ratio
bu2    100      20           0.2
bu4     70      14           0.2

In [37]:
# 把 high_sales,low_sales 分别写到 new_sales.xlsx 的 high_sales,low_sales 两个sheet 中
writer = pd.ExcelWriter('new_sales.xlsx')
high_sales.to_excel(writer,'high_sales')
low_sales.to_excel(writer,'low_sales')
writer.save()